<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="shortcut icon" type="image/ico" href="img/favicon.ico" />
		<link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css" /> <!-- PaperCSS PROD FW -->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<title>Vue.JS toDoList</title>
	</head>
	<body>
		<div class="page" :class="[ isDark ? activeDark : activeLight ]">
		<header class="header">
			<h1 class="title">Sh<span class="darkmodebutton" @click="darkMode()">o</span>pping List</h1>
		</header>
		<main>
			<div class="listWrapper">
				<div class="buttonWrapper">
					<input type="text"
					maxlength="30"
					placeholder="Tomatos"
					class="dark"
     					:class="{ redBg : hasError }"
					@keyup.enter="addItem()" 
     					v-model="inputfield"
					autofocus
					/>
					<input type="button"
					class="addButton btn-primary"
					value="Add-in"
					@click="addItem()"
					/>
					<input type="button"
					class="clearButton btn-secondary"
					value="Clear"
					@click="clearList()"
					/>
				</div>
    				<div class="ulWrapper">
		    			<ul>
						<li v-for="item in toDoList">
							{{ item.text }}
						</li>
		    			</ul>
				</div>
			</div>
		</main>
		</div>
		<footer class="footer">
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- VueJS DEV FW -->
		<script src="js/todolist.js"></script>
	</body>
</html>
