<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="shortcut icon" type="image/ico" href="img/favicon.ico" />
		<link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css" /> <!-- PaperCSS PROD FW -->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<title>Vue.JS toDoList</title>
	</head>
	<body>
		<div class="page" :class="[ isDark ? activeDark : activeLight ]">
		<header class="header">
			<h1 class="title">Sh<span class="darkmodebutton" @click="darkMode()">o</span>pping List</h1>
		</header>
		<main class="main">
			<div class="listWrapper">
				<div class="buttonWrapper">
					<input type="text"
					maxlength="25"
					placeholder="Tomatos"
					class="dark"
     					:class="[{ redBg : hasError }, isDark ? activeLight : activeDark ]"
					@keyup.enter="addItem()" 
     					v-model="inputfield"
					autofocus
					/>
					<input type="button"
					class="btn-primary"
					value="Add-in"
					@click="addItem()"
					/>
					<input type="button"
					class="btn-secondary"
					value="Clear"
					@click="clearList()"
					/>
				</div>
    				<div class="ulWrapper">
		    			<ul>
						<li v-for="item in toDoList" class="li" :class="[isChecked ? activeLine : '']">
							<input 
				   			@click="checked()"
							type="checkbox"
							/> 
							{{ item.text }}
						</li>
		    			</ul>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="socialList">
				<a href="https://github.com/rztprog">
					<img class="socialList-logo social List-fb" src="./img/facebook-logo.svg" alt="facebook social logo" />
				</a>
				<a href="https://www.linkedin.com/">
					<img class="socialList-logo socialList-lk" src="./img/linkedin-logo.svg" alt="linkedin logo">
				</a>
				<a href="https://twitter.com/">
					<img class="socialList-logo socialList-tw" src="./img/twitter-logo.svg" alt="twitter logo">
				</a>
				<a href="https://www.codewars.com/users/rztprog">
					<img class="socialList-logo socialList-cw" src="./img/codewars.svg" alt="codewars logo">
				</a>
			</div>
			<div>
				<p class="copyr">Copyright RZTPROG 2018 | MIT Licence</p>
			</div>
		</footer>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- VueJS DEV FW -->
		<script src="js/todolist.js"></script>
	</body>
</html>
